amqp==5.2.0
asgiref==3.8.1
astroid==3.2.4
async-timeout==4.0.3
billiard==4.2.0
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
dill==0.3.8
dj-config-url==0.1.1
Django==5.1.1
django-extensions==3.2.3
django-prometheus==2.3.1
djangorestframework==3.15.2
drf-yasg==1.21.7
inflection==0.5.1
isort==5.13.2
kombu==5.4.0
mccabe==0.7.0
numpy==2.1.1
packaging==24.1
platformdirs==4.2.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
psycopg2==2.9.9
pylint==3.2.7
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
PyYAML==6.0.2
redis==5.0.8
scipy==1.14.1
six==1.16.0
sqlparse==0.5.1
tomli==2.0.1
tomlkit==0.13.2
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.7.0
